  * { box-sizing: border-box; }
  
  body
  {
    margin: 0;
    padding: 0;
  }

  main
  {
    display: flex;
    flex-direction: column;
    place-items:flex-start;
    padding: 1rem;
    width: 100%;
  }
  
  #input
  {
    --size_ratio: 1.5;

    display: flex;
    place-items:center;
    padding: .5rem;
    width: 100%;
    height: 6rem;
  }
  
  main,
  #input
  {
    background: hsla(var(--c_hue_h) var(--c_sat_ne) var(--c_lum_hi_2)/1);
  }


  #input > *
  {
    padding: .5rem;
  }
  
  #source_e
  {
    flex-basis: 60%;
  }
  
  #color_e
  {
    flex-basis: 10%;
  }
  
  a
  {
    color: var(--c_ilite_280);
  }
