/*=== FONT ===*/
:root
{
  --BASE_U_n:     16;      /* font base unit */
  --BASE_MIN_n:   1.2;
  --SCREEN_MIN_n: 400;
  --SCREEN_MAX_n: 1600;



  --FONT_SIZE:calc( ( var(--BASE_U_n) * var(--BASE_MIN_n) * 1px )
                     + ( var(--BASE_U_n) * var(--BASE_MIN_n) * 2 - ( var(--BASE_U_n) * var(--BASE_MIN_n ) ) )
                     * ( 100vw - (var(--SCREEN_MAX_n) * 1px) )
                     / ( var(--SCREEN_MAX_n) - var(--SCREEN_MIN_n) )
                   );
  --FONT_U:calc( var(--FONT_SIZE) * 1 ); /* font unit - can be adjusted */

  --FONT_BODY: `'Droid Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif`;
  --FONT_MONO: `'JetBrains Mono Light', system-ui, -apple-system, BlinkMacSystemFont, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace`;

  --size_ratio: 2;
}



/*=== FAMILY ===*/

body,
__                     {font-family:var(--FONT_BODY)}



/*=== SIZE ===*/

body,
body *,
body *:before,
body *:after,
__                     {font-size:calc( var(--FONT_U) * var(--size_ratio) )}





/*=== WEIGHT ===*/


body,
body *,
__                     {font-weight:300}



/*=== STYLE ===*/
