/*
code,
code *,
__                     {font-family:var(--FONT_MONO)}
*/


/* === LAYOUT === */
code
{  
  display: block;
  margin: 0;
  padding: 0 0 0 1rem;
  width: 100vw;
  min-height: 100vh;
  color: hsla(var(--c_hue_h) var(--c_sat_hi_2) var(--c_lum_hi_4)/1);
  background: hsla(var(--c_hue_h) var(--c_sat_lo_2) var(--c_lum_lo_3)/.9);
  white-space: pre;
  overflow: auto;
}

code > ol
{
  display: flex;
  flex-direction: column;
}

code li::marker
{
  --size_ratio: 1;

  display: inline-block;
  -webkit-select: none;
  color: var(--c_ilite_ne);
  opacity: .7;
}


code li:hover
{
  filter: contrast(2);
  background: hsla(var(--c_hue_h) var(--c_sat_lo_2) var(--c_lum_lo_1)/.9);
}


code li.i_hi
{
  background: hsla( 210 28% 94%/1);
  background: hsla(calc( var(--c_hue_h) + var(--c_hi_off) ) var(--c_sat_hi_2) var(--c_lum_lo_2)/1);
}

code li.i_hi::marker
{
  color: hsla(calc( var(--c_hue_h) + var(--c_hi_off) ) var(--c_sat_hi_2) var(--c_lum_hi_2)/1);
}


[class^="i_"],
__                     {font-style:normal}



/* === BACKGROUND === */

.i_block,
.i_line,
__                     {background:var(--c_ilite_ne); opacity:.33}

.i_apos,
.i_quot,
__                     {background:var(--c_ilite_1)}
.i_lit,
__                     {background:var(--c_ilite_2)}

.i_num,
__                     {background:var(--c_ilite_3)}




/* === FRONT === */

.i_uv,
__                     {color:var(--c_ilite_12)}


.i_op,
__                     {color:var(--c_ilite_8)}
.i_punct,
__                     {color:var(--c_ilite_11)}


.i_dec,
__                     {color:var(--c_ilite_6)}
.i_loop
__                     {color:var(--c_ilite_9)}
.i_cont,
__                     {color:var(--c_ilite_10)}


.i_type,
__                     {color:var(--c_ilite_7)}
.i_prop,
__                     {color:var(--c_ilite_12)}
.i_res,
__                     {color:var(--c_ilite_13)}


