:root
{
}


html, body {
  font-family: Arial;
}

/* === LAYOUT === */
code
{
  font-family: Consolas,"courier new";
  color: #EEE;
  background-color: #333;
  padding: 2px;
  font-size: 105%;
  display: block;
  white-space: pre;
  overflow: auto;
}

code > ol
{
  display: flex;
  flex-direction: column;
  min-height: 1em;
}

li::marker
{
  display: inline-block;
  width: 5ch;
  text-align: right;
  -webkit-select: none;
  color: gray;
}

.hi
{
  background-color: hsla( 210 28% 6%/1);
}

.hi::marker
{
  color: red;
  background-color: white;
}


/*=== HIGHLIGHT ===*/

.reserved
{
  font-weight: bold;
  color: #55C;
}

.methods
{
  font-weight: bold;
  color: green;
}

.variable
{
  color: orange;
}

.comment
{
  color: gray;
}

.number
{
  color: red;
}
